####################################
# OS
####################################
.DS_Store
.AppleDouble
.LSOverride

####################################
# VS Code
####################################
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

####################################
# Node / React
####################################
node_modules/
dist/
build/
.vite/
.npm/
.pnpm-store/
.yarn/
.yarn-cache/
coverage/
*.log

####################################
# .NET
####################################
bin/
obj/
out/
TestResults/
.vs/

####################################
# User secrets / env
####################################
.env
.env.*
secrets.json
appsettings.*.json
!appsettings.Development.json

####################################
# Logs
####################################
logs/
*.log

####################################
# Certificates
####################################
*.pfx
*.pem
*.crt
